Repository prgrms-web-devcourse/backend-A-study, pull requests merged in 2021-08, with the labels that each got.

#2 README 작성
  README.md
Labels: 리뷰 요청

#6 1주차 진행과정
  README.md
  week-1/example.md
  week-1/meeting-log-1.md
  week-1/meeting-log-2.md
  week-1/yhh1056.md
Labels: 리뷰 요청

#11 [조수연] 1주차 스터디 : OSI 7 계층
  CS/week-1/OSI-7-Layer.md
Labels: CS

#15 [유현호] 2주차 스트림 소개 및 활용
  JAVA/week-1/meeting-log-1.md
  JAVA/week-1/meeting-log-2.md
  JAVA/week-1/yhh1056.md
  JAVA/week-2/yhh1056.md
  README.md
Labels: java

#16 [이주오] 1주차 스터디 & 2주차 스트림 소개 및 활용
  JAVA/week-1/LeeJuOh.md
  JAVA/week-1/meeting-log-1.md
  JAVA/week-1/meeting-log-2.md
  JAVA/week-2/LeeJuOh.md
  README.md
Labels: java

#17 [허승연] 2주차 Java 스터디 숙제 업로드
  JAVA/week-2/heoseungyeon.md
Labels: java

#19 [조수연] 2주차 스터디 : 전송 계층 (TCP, UDP)
  CS/week-2/Transport-Layer.md
  README.md
Labels: CS

#23 [이주오] 3주차 스트림으로 데이터 수집 & 병렬 데이터 처리와 성능
  JAVA/week-3/LeeJuOh.md
Labels: java

#24 [허승연] 3주차 스트림으로 데이터 수집 & 병렬 데이터 처리와 성능
  JAVA/week-3/heoseungyeon.md
Labels: java

#25 [자바스터디] 2, 3 주차 반영
  JAVA/week-1/LeeJuOh.md
  JAVA/week-1/yhh1056.md
  JAVA/week-2/LeeJuOh.md
  JAVA/week-2/heoseungyeon.md
  JAVA/week-2/review.md
  JAVA/week-2/yhh1056.md
  JAVA/week-3/LeeJuOh.md
  JAVA/week-3/heoseungyeon.md
  JAVA/week-3/review.md
  JAVA/week-3/yhh1056.md
  README.md
  week-1/meeting-log-1.md
  week-1/meeting-log-2.md
Labels: java
